* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F3F4F6;
}
body, input, button {
    font-family: 'Open Sans', sans-serif;}

input, button {
    font-size: 16px;
}

.head_bar {
    padding: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F3F4F6;
    color: #212936;
}

main {
    max-width: 800px;
    width: 80%;
    margin: 0 auto;
    padding: 16px;

}

.input_section {
    display: flex;
    flex-direction: column;
    padding: 16px;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.input_section > h2 {
    text-align: center;
    color: #212936;
}

.input_section > form > .input {
    margin: 8px 0;
}

.input_section > form > button {
    background-color: #212936;
    color: white;
    border: 0;
    border-radius: 24px;
    display: block;
    width: 100%;
    padding: 8px;
    cursor: pointer;
}

.input_section > form > button > span {
    font-weight: bold;
}

.input_section > form > .input > input {
    display: block;
    width: 100%;
    padding: 8px;
    border: 0;
    background-color: rgb(218, 218, 218);
    border-radius: 24px;
}



.input_section > form > .input > label {
    color: #212936;
    font-weight: bold;
}

.input_section > form > .input_inline {
    margin: 12px 0;
    display: flex;
    align-items: center;
}

.input_section > form > .input_inline > label {
    color: #212936;
    font-weight: bold;
    margin-right: 10px;
}

.book_shelf {
    margin: 16px 0 0 0;
    padding: 16px;
    border-radius: 24px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.book_shelf > h2 {
    color: #212936;
}

.book_shelf > .book_list {
    padding: 16px;
}

.book_shelf > .book_list > .book_item {
    padding: 8px 16px 16px 16px;
    background-color: rgb(218, 218, 218);
    border-radius: 24px;
    margin: 10px 0;
}

.book_shelf > .book_list > .book_item > h3, p {
    margin: 8px 0;
    color: #212936;
}

.book_shelf > .book_list > .book_item > .action > button {
    border: 0;
    padding: 5px;
    margin: 0 5px 0 0;
    border-radius: 24px;
    cursor: pointer;
}

.tombol-cek {
    background: url('assets3/tombol-cek.png');
    background-size: contain;
    width: 45px;
    height: 45px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}
.tombol-cek:hover {
    background: url('assets3/tombol-cek\ hover.png');
    background-size: contain;
}

.tombol-hapus{
    background: url('assets3/tombol-hapus.png');
    background-size: contain;
    width: 45px;
    height: 45px;
    margin-left: 16px;
    cursor: pointer;
    border: none;
}

.tombol-hapus:hover {
    background: url('assets3/tombol-hapushover.png');
    background-size: contain;
}

.tombol-undo{
    background: url('assets3/tombol-undo.png');
    background-size: contain;
    width: 45px;
    height: 45px;
    margin-left: auto;
    cursor: pointer;
    border: none;
}

.tombol-undo:hover {
    background: url('assets3/tombol-undohover.png');
    background-size: contain;
}